.hero-pages {
    height: 100vh;
    scroll-snap-type: y mandatory   ;
    overflow-y: scroll;
}
.hamburger {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 10;
    
   
    margin-right: 40px;
    margin-top: 3px;

    .line {
        position: absolute;
        //right: 10px;
        width: 18px;
        height: 2px;
        //margin-bottom: 2.5px;
        background-color: black;
        transition: all 0.2s ease-in;
    }

    .first-line {
        top: 0;
    }
    .second-line {
        top: 4.5px;
    }
    .third-line {
        top: 9px;
    }

    &.open {
        position: absolute;
        top: 18px;
        right: 10px;
        z-index: 10;
        .first-line {
            top: 0;
            width: 14.14px;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
            transition: transform 0.2s ease-in;
        }
        .second-line {
            transform: scale(0);
        }
        .third-line {
            top: 0;
            width: 14.14px;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            transition: transform 0.2s ease-in;
        }
    }
}